.main {
  width: 854px;
  padding: 0 5px;
  margin: auto;
}
.main-all {
  margin: 30px 0;
}
.brief {
  padding: 20px 40px;
  color: #999999;
}

.details-title {
  font-size: 30px;
  margin: 20px 0 10px;
  font-weight: 300;
}

.author {
  color: #333333;
  font-size: 14px;
  margin-bottom: 10px;
}

.concent {
  font-size: 14px;
  line-height: 1.67;
  margin-bottom: 40px;
  margin-top: 40px;
}

.principal {
  font-size: 14px;
  font-style: italic;
  line-height: 1.67;
  margin-bottom: 40px;
  margin-top: 60px;
}
